form{
    text-align: center;
    
}
input{
    text-align: center;
}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group{
 margin-top: 10px;   
}
#login-container{
    margin-top: 15px;
}
.logo{
    max-width: 100px;
    max-height: 100px;
}