/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body{
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

a{
    color: #2646ba;
}
a:hover{
    color: #2646ba;
}
a:focus{
    color: #2646ba;
}
a:visited{
    color: #2646ba;
}

/* Text */
.text-blue{
    color: #2646ba;
}
.text-grey{
    color: #404040;
}

/* Backgrounds */
.bg-blue{
    background: #2646ba;
}

/* Buttons */
.btn-blue{
    color: white;
    background: #2646ba;
    border-radius: none;
}
