/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto', sans-serif;
}

/* Backgrounds */
.bg-blue{
    background: #2646ba;
}

/* Buttons */
.btn-blue{
    color: white;
    background: #2646ba;
    border-radius: none;
}